
.main-container {
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.index-header {
    justify-content: flex-end;
    margin-top: 29px;
    margin-right: 41px;
}

.center-items-container {
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.center-items {
    align-self: center;
    align-items: center;
    gap: 20px;
}

.center-items > * {
    flex-basis: 100%;
    flex-shrink: 0;
}


.time-text {
    font-family: var(--title-font);
    font-size: 128px;
}

.hungry-text {
    font-family: var(--text-font);
    font-size: 72px;
    font-style: italic;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: -10px;
}

.whats-for-text {
    font-family: var(--text-font);
    font-size: 48px;
    font-weight: bold;
}

.title-text-box {
    justify-content: flex-end;
}

.login-button {
    font: var(--title-font);
    font-size: 24px;
    color: #000000;
}

.main-button {
    background-color: var(--primary-accent-500);
    width: 182px;
    height: 56px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 3px 5px -3px;
}

.main-button-text {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 28px;
}

.scroll-button {
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
}


.main-button span {
    transition: all 200ms;
}

.main-button:hover span {
    transform: scale(.9);
    opacity: .75;
}


@media (max-width: 750px) {
    /*.center-items {*/
    /*    flex-wrap: wrap;*/
    /*}*/
    /*.center-items .title-text {*/
    /*    text-align: center;*/
    /*}*/
    /*.center-items .ui-button-box {*/
    /*    display: flex;*/
    /*    justify-content: center;*/
    /*}*/
}

@media (min-width: 750px) {
    /*.center-items {*/
    /*    gap: 0.5rem;*/
    /*}*/
    /*.main-button {*/
    /*    font-size: 1.5rem; !* 24px *!*/
    /*    padding: 1rem 1.5rem;*/
    /*    line-height: 2rem; !* 32px *!*/
    /*}*/

}